<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eagle Paster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Eagle Paster</strong></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <h2>Link</h2>
                <p>{{ text|safe }}</p>
            </section>
        </div>
    </main>
    <!-- Script for Ads -->
    <script data-cfasync="false" src="//d2oouw5449k1qr.cloudfront.net/?wuood=1028408"></script>
</body>
</html>
